<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure App Configuration Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <b>Version:</b>&nbsp;@ViewBag.Version
    </div>
    <div class="col-md-4 text-wrap">
        <b>Blob Connection String</b>&nbsp;@ViewBag.BlobConnectionString
    </div>
    <div class="col-md-4">
        <b>B2C Tenant</b>&nbsp;@ViewBag.B2CTenant
    </div>
</div>

